.container {
  padding: 16px 5%;
  margin: 0px auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.home {
  width: 100%;
  background-color: #151515;
}

.navigation-manual {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  margin-top: 185px;
  justify-content: right;
}

.navigation-manual ul li {
  display: block;
  list-style: none;
  padding: 0px;
  margin-bottom: 2px;
}

.navigation-manual label {
  border: 2px solid #ea6016;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  margin-right: 20%;
  opacity: 0;
}

.manual-btn {
  width: 10px;
  height: 10px;
  font-size: 1px;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #ea6016;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 10%;
  justify-content: right;
}

.navigation-auto ul li {
  list-style: none;
}

.navigation-auto div {
  border: 2px solid #ea6016;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  margin-bottom: 5px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.img-hot-series {
  width: 100%;
  overflow: hidden;

  .mySlides {
    width: 100%;
    margin: 4rem 0px;
  }
}

.text-hot-series h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: var(--white);
}

.text-hot-series h3 button {
  width: 8px;
  height: 40px;
  background-image: linear-gradient(90deg, #ea3c2a, #f80 50%, #ea3c2a);
  border-radius: 5px;
  margin-right: 20px;
  transform: translateY(20%);
}

.mySlides {
  display: flex;
  justify-content: space-between;
}

.adds {
  background-color: #151515;
}

.adds img {
  width: 100%;
  padding: 70px 0 20px;
  cursor: pointer;
}

.content {
  background-color: #151515;
}

.text-content h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: var(--white);
  padding-bottom: 30px;
}

.text-content h3 button {
  width: 8px;
  height: 40px;
  background-image: linear-gradient(90deg, #ea3c2a, #f80 50%, #ea3c2a);
  border-radius: 5px;
  margin-right: 20px;
  transform: translateY(20%);
}

.pagination {
  padding: 25px 0;
  text-align: center;

  .hide,
  .page.hide {
    display: none;
  }
}

.pagination .page {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  margin: 2px;
  padding: 5px 1rem;
  &:hover {
    opacity: 0.7;
  }
}

.pagination a.active {
  color: var(--primary);
}

.pagination a:hover {
  border-color: var(--white);
}

.pagination span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  padding-left: 10px;
  padding-right: 15px;
}

// Loanding Icon

.loading-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  .loading-icon {
    font-size: 120px;
    color: var(--white);
  }
}

@media only screen and (max-width: 505px) {
  .col1 {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .text-hot-series {
    margin-top: 76px;
  }
}

.Not-found {
  font-size: 3rem;
  color: var(--white);
  font-weight: 600;
  text-align: center;
  padding-bottom: 32px;
}
