.wrapper {
  button {
    background-color: rgb(80, 80, 80);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 450;
    padding: 5px 0px;

    &:hover {
      background-color: var(--primary);
    }
  }

  .active {
    background-color: var(--primary);
  }

  .separate {
    border-bottom: 1px solid #bcbcbc;
    margin: 8px 0;
  }
}
// Responsive
@media only screen and (max-width: 400px) {
  .wrapper {
    button {
      font-size: 1.4rem;
    }
  }
}
