.background-register {
  background-image: var(--gradient-to-top-black),
    url("https://wallpapercave.com/wp/wp4916205.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.logo_link {
  display: block;
  position: absolute;
  top: 20px;
  left: 80px;
  transition-property: opacity;
  transition-duration: 0.3s;

  :hover {
    opacity: 0.9;
  }

  img {
    height: 33px;
    text-align: center;
  }
}

.register {
  padding: 50px 75px;
  background-color: #242424;
  width: 520px;
  max-width: 600px;
  border-radius: 15px;
  font-weight: bold;
  color: var(--white);
  font-size: 1.8rem;
  margin: 0px auto;
  box-shadow: 0px 0px 10px #666;

  .notify {
    color: red;
    text-align: center;
    font-size: 1.6rem;
  }
}

.register_heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 16px;
}

.register_label {
  display: inline-block;
  cursor: pointer;
}

.register_input {
  display: block;
  height: 44px;
  width: 100%;
  border-radius: 8px;
  background-color: #353434;
  color: var(--white);
  padding: 20px;
  outline: none;
  margin: 8px 0 16px;
  border: 1px solid var(--while);
  // box-shadow: 0 5px 10px 0 rgba(55, 57, 65, 0.5);

  &:focus {
    border: 1px solid var(--primary);
  }
}

.password_input {
  position: relative;

  .hide_icon {
    position: absolute;
    top: 4px;
    right: 16px;
  }

  &:hover {
    cursor: pointer;
  }
}

.register_submit {
  font-size: 1.8rem;
  color: var(--while);
  width: 100%;
  height: 44px;
  border-radius: 8px;
  background-color: #929292;

  &:hover {
    opacity: 0.9;
  }
}

.register_submit.primary {
  background-color: var(--primary);
}

.register_already {
  text-align: center;
  font-size: 1.6rem;
  color: #999;
  text-decoration: none;
  margin-top: 8px;
}

.login_link {
  color: var(--primary) !important;
}

.register_input_date {
  display: block;
  height: 44px;
  width: 100%;
  border-radius: 8px;
  background-color: #353434;
  color: var(--white);
  padding: 20px;
  outline: none;
  margin: 8px 0 30px;
  border: 1px solid var(--while);

  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  &:focus {
    border: 1px solid var(--primary);
  }
}
