.background-form {
  background-image: var(--gradient-to-bottom-black),
    url("https://wallpapercave.com/wp/wp4916205.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.logo_link {
  display: block;
  position: absolute;
  top: 20px;
  left: 80px;
  transition-property: opacity;
  transition-duration: 0.3s;

  :hover {
    opacity: 0.9;
  }

  img {
    height: 33px;
    text-align: center;
  }
}

.form {
  padding: 50px 75px;
  background-color: #242424;
  width: 520px;
  max-width: 600px;
  border-radius: 15px;
  font-weight: bold;
  color: var(--white);
  font-size: 1.8rem;
  margin: 0px auto;
  box-shadow: 0px 0px 10px #666;

  .notify {
    color: red;
    text-align: center;
  }
}

.form_heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 35px;
}

.form_label {
  display: inline-block;
  cursor: pointer;
}

.form_input {
  display: block;
  height: 44px;
  width: 100%;
  border-radius: 8px;
  background-color: #353434;
  color: var(--white);
  padding: 20px;
  outline: none;
  margin: 8px 0 30px;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid var(--primary);
  }
}

.oldPassword_input {
  position: relative;

  .hide_icon {
    position: absolute;
    top: 4px;
    right: 16px;
  }

  &:hover {
    cursor: pointer;
  }
}

.newPassword_input,
.reNewPassword_input {
  position: relative;

  .hide_icon {
    position: absolute;
    top: 50%;
    right: 16px;
  }

  &:hover {
    cursor: pointer;
  }
}

.form_submit {
  font-size: 1.8rem;
  color: var(--white);
  width: 100%;
  height: 44px;
  border-radius: 8px;
  background-color: #929292;

  &:hover {
    opacity: 0.9;
  }
}

.form_submit.primary {
  background-color: var(--primary);
}

.form_already {
  text-align: center;
  font-size: 1.6rem;
  color: #999;
  text-decoration: none;
  margin-top: 32px;
}

.login_link {
  color: var(--primary) !important;
}

.back-link {
  margin-top: 8px;
  display: block;
  font-size: 1.8rem;
  color: #242424;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  background-color: var(--primary);
  text-decoration: none;
  text-align: center;
  padding-top: 8px;

  &:hover {
    color: var(--white);
    opacity: 0.9;
  }
}

// Responsive
@media only screen and (max-width: 850px) {
  .logo_link {
    left: 16px;
    top: 16px;
  }
  .background-form {
    overflow-y: auto;
    width: 100%;
    .form {
      width: 100%;
      height: 100%;
      padding: 76px 16px 16px;
      max-width: none;
    }
  }

  .form_input {
    margin-bottom: 16px;
  }
}

@media only screen and (max-height: 600px) {
  .background-form {
    height: auto;
  }
}
