.container {
  padding: 16px 5%;
  margin: 0px auto;
}

.layout {
  box-sizing: border-box;
  position: "relative";
}

.layout_video {
  height: 650px;
  padding-top: 100px;
  background-color: #151515;
  text-align: center;
}

.video {
  max-width: 1080px;
  max-height: 578px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.time_video {
  width: 98%;
  height: 3px;
  background-color: rgb(115, 133, 159);
}

.icon_video {
  font-size: 25px;
  color: #fff;
}

.layout_up {
  z-index: 0;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #151515;
  padding-bottom: 100px;
}

.under_line {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb;
  opacity: 0.5;
  margin: 5px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title_films {
  font-weight: 700;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}

.describe {
  font-size: 20px;
}

.display-background-container {
  background-color: rgba(0, 0, 0, 0);
}

// Loanding Icon

.loading-wrapper {
  padding: 150px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  .loading-icon {
    font-size: 120px;
    color: var(--white);
  }
}

// Responsive
@media only screen and (max-width: 850px) {
  .layout_video {
    height: 500px;
  }
}
