.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.slider-text {
  text-align: left;
  margin-top: -35%;
}

.text-heading h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  display: block;
}

.text-description p {
  font-family: "Roboto", sans-serif;
  color: #bcbcbc;
  font-size: 16px;
  margin-bottom: 15px;
}

.text-description p span {
  color: #fff;
}

.button-slider {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 20px;
  background-image: linear-gradient(90deg, #f80, #ea3c2a 50%, #f80);
  padding: 15px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.button-slider:hover {
  background-image: linear-gradient(90deg, #ea3c2a, #f80 50%, #ea3c2a);
}