.item-layout {
    height: 700px;
    position: relative;

    .item-layout-back {
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .item-layout-up {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom,
                rgba(21, 21, 21, 0.5),
                rgba(21, 21, 21));
        padding-top: 11%;
        padding-left: 9%;

        .content-name {
            color: white;
            font-size: 7rem;
            font-weight: 500;
        }
    }
}