.comment {
  width: 100%;
  padding: 12px 28px 12px 12px;
  display: flex;
}

.comment-avatar {
  height: 100%;
  img {
    width: 32px;
    height: 32px;
    border-radius: 999px;
  }
}

.comment-body {
  flex: 1;
  .comment-body_message {
    background: #4b4b4b;
    border-radius: 8px;
    margin-left: 10px;
    padding: 16px;
    position: relative;
    word-break: break-word;
    font-weight: 400;
    color: #bcbcbc;

    .message-name {
      margin-right: 15px;
      font-weight: 700;
    }

    .message-main {
      display: block;
      color: var(--white);
      white-space: pre-wrap;
    }

    &::before {
      content: "";
      display: block;
      width: 0;
      border-color: transparent #4b4b4b transparent transparent;
      border-style: solid;
      border-width: 9px 12px 7px 4px;
      border-radius: 5px;
      transform: rotate(147deg);
      position: absolute;
      left: -4px;
      top: -5px;
    }
  }
}

.comment-body_options {
  display: flex;
  justify-content: space-between;
  .option {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .option.active {
    color: var(--primary);
  }

  .option.disable,
  .option.icon {
    cursor: text;
    color: #bcbcbc;
  }

  .option.icon {
    cursor: default;
  }

  .option svg {
    height: 14px;
    width: 14px;
    margin-left: 4px;
  }

  .comment-body_options-left {
    display: flex;
    flex-wrap: wrap;
  }
}

.show-comment {
  padding: 5px 0 0 10px;
  font-size: 1.4rem;
  line-height: 2rem;

  .show-option {
    position: relative;
    cursor: pointer;
  }

  .show-icon {
    margin-left: 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 34%;
    right: -14px;
  }
}

// Responsive
@media only screen and (max-width: 600px) {
  .comment {
    font-size: 1.2rem;

    span {
      font-size: 1.2rem;
    }
    .message-name {
      margin: 0;
    }
  }
}
