.film-card {
  width: 210px;
  height: 320px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-bottom: 80px;
}

.content-card {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.practice {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(234 96 22);
  transition: all 0.3s ease;
}

.practice:hover {
  background-color: rgb(236, 120, 57);
}

.image-card {
  margin-bottom: 10px;
}

.image-card .film-img {
  width: 210px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid rgb(234 96 22);
}

.image-card .film-img:hover {
  width: 215px;
  height: 325px;
  box-shadow: 0 3px 20px 0 rgba(234, 96, 22, 0.5);
}

.text-card {
  text-align: center;
  padding-top: 10px;
}

.text-card .name {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}