.search {
  flex: 1;
  display: flex;
  max-width: 360px;
  min-width: 150px;
  height: 40px;
  align-items: center;
  background-color: #323232;
  border-radius: 9999px;
  font-size: 2rem;
  line-height: 2rem;
  margin-right: 16px;
  opacity: 0.6;

  &:focus-within {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }

  .search-input {
    outline: none;
    border: none;
    flex: 1;
    height: 100%;
    width: 100%;
    max-width: 360px;
    background-color: #494749;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    padding-left: 16px;
    color: var(--white);
    font-size: 2rem;
    line-height: 2rem;
    transition: all 0.5s ease;
  }

  .search-btn {
    color: var(--white);
    font-size: 2.5rem;
    border: none;
    outline: none;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    transition: all 0.5s ease;
    background-color: #494749;
  }

  .search-btn:hover {
    color: var(--primary);
  }
}

.search-input:focus {
  background-color: #252525;
}

.search-input:focus ~ .search-btn {
  background-color: #252525;
}

.search-input:focus ~ .loading {
  background-color: #252525;
}

.wrapper {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  background-color: #242424;
  width: 100%;
  max-width: 360px;
  height: 500px;
  margin-top: 8px;
  font-size: 1.6rem;
  cursor: default;
  border-radius: 8px;
  overflow-y: auto;

  .search-header {
    font-size: 2rem;
    color: var(--white);
    width: 100%;
    padding: 8px 0 8px 8px;
    border-bottom: 2px solid #333;
  }
}

.loading {
  height: 100%;
  background-color: #323232;
  transition: all 0.5s ease;
  .loading-icon {
    padding: 10px 0;
    color: var(--white);
  }
}

@media only screen and (max-width: 400px) {
  .search {
    margin-right: 4px;
  }
}
