.btn-home {
    background-image: linear-gradient(90deg, #ff8800, #ea3c2a 50%, #ff8800);
    color: white;
    padding: 1rem 4rem;
    border-radius: 5%;
    font-size: 2rem;
    background-position: 50px;
    transition-duration: 0.2s;
    &:hover {
        box-shadow: 0 0 14px -1px #f80;
        background-position: -50px;
        color: white;
        border-color: var(--primary);
    }
}